{%- if theme.open_graph.enable %}
  {{ next_open_graph() }}
{%- endif %}

{# https://github.com/theme-next/hexo-theme-next/issues/866 #}
{%- set canonical = (page.canonical_url or url) | replace(r/index\.html$/, '') %}
{%- if not config.permalink.endsWith('.html') %}
  {%- set canonical = canonical | replace(r/\.html$/, '') %}
{%- endif %}
<link rel="canonical" href="{{ canonical }}">
{%- if page.translations and page.translations.length > 1 %}
  {%- for translation in page.translations %}
    <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ translation.url | replace(r/index\.html$/, '') }}">
  {%- endfor %}
  {%- if page.x_default %}
    <link rel="alternate" hreflang="x-default" href="{{ page.x_default | replace(r/index\.html$/, '') }}">
  {%- endif %}
{%- endif %}
{%- if page.noindex %}
<meta name="robots" content="noindex">
{%- endif %}
{# Exports some front-matter variables to Front-End #}
{# https://hexo.io/docs/variables.html #}
{{ next_data('page', next_config_unique()) }}

{{ next_data('calendar',
  theme.calendar if page.type === 'schedule' else '')
}}
